
.header-top {
    display: flex;
    flex-direction: row;
    
    justify-content:space-between;
    align-items: center;
    padding-top: 3px;
    height: 30px;
    background-color: black;
    height: 40px;
    color: #fff;
    font-size: 19px;
    font-family: 'Open Sans','Helvetica';
}
.shop-name-logo {
    margin-left: 50px;
    font-size: 22px;
    font-weight: bolder;
}

.white-span {
    color: #fff;
}
.red-span {
    color: red;
}
.shop-account-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #c8c8c9;
    width: 100px;
    margin-right: 50px;
    
}

.account-products {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #c8c8c9;
    
    

}
.shop-header-categories {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    
    
}
.account-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.account-favorite {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.nav-link-item {
    text-decoration: none;
    color: #fff;
}
.is-active {
    
    text-decoration: none;
  
    border: 1px solid #fff;

    
    
}
.nav-link-item-active:hover {
    text-decoration: none;
    border: 1px solid #fff;

 
}
.span-hot-sale {
    color: red;
}

.header-image-holder{
    display: flex;
    flex-direction: row;
    background-color: red;
}

.nav-link-item-active {
    
    text-decoration: none;
    width: 100px;
    text-align: center;
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
}

.profile-menu-items {
    color: black;
    text-decoration: none;
}



